body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/background.png'); /* Caminho para a imagem de fundo */
  background-size: cover; /* Cobrir toda a tela */
  background-position: center; /* Centralizar a imagem de fundo */
  background-repeat: no-repeat; /* Não repetir a imagem de fundo */
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Evitar barra de rolagem */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



